@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400;500;700&display=swap');


::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
    margin: 0px;
    font-size: 1.6rem;
}

/* for main container */
.MainContainer {
    overflow: hidden;
}


/* for navigation bar */
.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 100px;
}


.navitem {
    display: block;
    color: #191970;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    row-gap: 10px;
    padding-right: 15pt;
    align-items: center;
    font-size: 15pt;
}

li a {
    text-decoration: none;
    color: #191970;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;

}
a:hover {
    background-color: lightgrey;
}


.logo {
    display: block;
    width: auto;
    height: 100px;
    display: flex;

}

/* navigation container break line */
.navbreak {
    height: 5px;
    width: 100%;
    color: #191970;
}


/* for Homepage picture */
.homepic {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* for Signup Page - Log In */
.SignupContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
    background-image: url("../../docs/assets/images/homepagePicNoText.png");
    background-size: cover;
    margin: 0%;
    background-position: 100vw;
    background-size: 100vw;
}

.SignupTitle {
    font-family: 'Barlow Semi Condensed';
    font-weight: 200;
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: #191970;
}

.SignupInputButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 4vw;
    border: 2px solid darkgray;
    border-radius: .5vw;
    font-size: 1.2vw;
}

.SignupInput > .errorLabel {
    color: red;
    font-size: 1.2vw;
}

.inputBox {
    height: 3vw;
    width: 25vw;
    font-size: 1.2vw;
    border-radius: 6px;
    border: 2px solid darkgray;
    padding-left: 8px;
}

/* for responsive screen */
@media screen and (max-width: 980px) {
    .navContainer {
        justify-content: space-around;
    }

    .nav_toggler {
        display: block;
    }
    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: #191970;
        flex-direction: column;
        transform: translateX(100%);
    }
    
    .homepic {
        padding: 50px 0
    }
}
