body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.navbar {
    background-color: lightblue;
    padding: 10px;
    height: 100px;
}

li {
    float: left;
}

li.a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: antiquewhite;
}


.logo {
    display: block;
    height: 100px;
    width: auto;
}

